server:
  port: 8090
spring:
  ai:
    openai:
      #这里要在openai协议下定义多个模型，只能通过定义openAiAPI的形式
      #然后具体的chat模型由config类来给出，这样才行
      api-key: ${ALIBABA-API-KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode
    zhipuai:
      api-key: ${ZHIPU-API-KEY}
      base-url: https://open.bigmodel.cn/api/paas
      chat:
        options:
          model: glm-4.6
          temperature: 0.7
logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: debug